.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 60px;
}

.main {
  flex: 1;
  padding: 60px 0;
}

@media (max-width: 600px) {
  .page {
    padding: 0 24px;
  }
}
